.iLB {
    position: fixed;
    top: 56px;
    left: 0px;
    bottom: 5px;
    right: 0;
    margin-bottom: 21px;
    margin-right: 390px;
    overflow: scroll;
    padding: 5px;
}
#navbar{border-bottom:1px solid #484848;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.histEntry {
    display: inline-block;
    vertical-align: top;
    width: 36px;
    font-size: 7pt;
    text-align: center;
    color: white;
    border: 1px solid #eee;
    border-width: 1px 2px;
    z-index: 2;
    background-image: url("../images/raster.png");
    text-shadow: 0 0 3px black
}

.histEntryInner {
    display: inline-block;
    vertical-align: top;
    width: 35px;
    padding: 10px 5px;
    z-index: 3;
    border: 2px dashed #00000000;
}

#histogram,
#histogramEntity {
    max-height: 210px;
    overflow-y: overlay;
    overflow-x: hidden;
    width: 385px;
}

.toolbar {
    display: block;
    position: fixed;
    float:right;
    min-width: 390px;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 60px 5px 0px 5px;
    overflow-y: overlay;
    z-index: 1;
    background-color: white;
}

.submenu {
    padding: 0px 4px 4px 4px;
    margin-top: 15px;
    border: 1px solid #000;
    border-radius: 3px;
}

.submenu > span {
    position: relative;
    top: -8px;
    font-size: 8pt;
    background-color: white;
    float: left;
    padding: 0px 4px;
    margin-bottom: 0
}

.over {
    position: relative;
    border: 2px solid #000 !important;
    border-width: 1px 2px;
}

.dropable {
    position: relative;
    border: 2px solid #00f518;
    border-width: 1px 2px;
}

.colorpicked:before,
.over:before {
    content: " ";
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid #fff;
}

.colorpicked {
    border: 2px solid rgb(19, 179, 0);
    position: relative;
    margin: 0px 4px;
}

.colorpicker {
    cursor: url("../open-iconic/png/eyedropper-2xPointer.png") 0 16, auto;
}

.pencil {
    cursor: url("../open-iconic/png/pencil-2xPointer.png") 0 16, auto;
}

.bucket {
    cursor: url("../open-iconic/png/beaker-2xPointer.png") 0 0, auto;
}


.tooltip2 {
    position: relative;
    display: inline-block
}

.tooltip2 .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -60px
}

.tooltip2 .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 33%;
    margin-left: -5px;
    border-width: 25px;
    border-style: solid;
    border-color: transparent transparent black
}

.tooltip2 div.tooltiptext {
    width: 175px;
    top: 175%;
}

.tooltip2:hover .tooltiptext {
    visibility: visible
}

.tooltip.show {
    opacity: 1
}

.footer {
    position: fixed;
    font-size: 8pt;
    bottom: 0;
    left: 0;
    right: 0;
}

html,
body {
    height: 100%;
    background-color: #bcbcbc;
    margin: 0
}

.mainContent {
    padding: 0;
    overflow: hidden;
}
.mainContent_hide {
    height:0%; 
    display:none;
    overflow: hidden;  
    padding: 0;
}

.blankPageContent {
    height: 70%;
    text-align: center;
}

/*Bootstrap edits*/
.dropdown-item {
    font-size: 0.8rem;
    padding: 0rem 1rem;
}

.dropdown-header {
    font-size: 1rem;
    padding: 0.2rem 0.4rem;
}

.footer {
    z-index:10;
    background: #eeeeee
}

.custom-file-label::after {
    color: #f8f9fa;
    background: #6c757d
}
.nav-item{
    padding: 0px 2px
}
