.iLB {
    display: inline-block;
    vertical-align: top
}

.histEntry {
    display: inline-block;
    vertical-align: top;
    width: 35px;
    font-size: 7pt;
    padding: 10px 5px;
    text-align: center;
    color: white;
    border: 2px dashed #00000000;
    text-shadow: 0 0 3px black
}

.toolbar {
    display: block;
    position: fixed;
    width: 160px;
    min-width: 160px;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 80px 5px 0 10px;
    background-color: white;
}

.submenu {
    padding: 0px 4px 4px 4px;
    margin-top: 15px;
    border: 1px solid #000;
    border-radius: 3px;

}

.submenu > span {
    position: relative;
    top: -8px;
    font-size: 8pt;
    background-color: white;
    float: left;
    padding: 0px 4px;
    margin-bottom: 0
}

.over {
    border: 2px dashed #000 !important
}

.dropable {
    border: 2px dashed rgba(19, 134, 49, 0.6);
}

.colorpicked {
    border: 4px solid rgb(13, 185, 10);
    margin: 0px 5px;
    padding: 8px 0px;
}

.tooltip2 {
    position: relative;
    display: inline-block
}

.tooltip2 .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -60px
}

.tooltip2 .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 33%;
    margin-left: -5px;
    border-width: 25px;
    border-style: solid;
    border-color: transparent transparent black
}

.tooltip2 div.tooltiptext {
    width: 145px;
    top: 175%;
}

.tooltip2:hover .tooltiptext {
    visibility: visible
}

.tooltip.show {
    opacity: 1
}

.footer {
    position: fixed;
    font-size: 8pt;
    bottom: 0;
    left: 0;
    right: 0;
}

body {
    margin: 0
}

.mainContent {
    margin: auto;
    padding-top: 20px
}
